php_value max_execution_time 300

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /neri_gabe_wp/in-class/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /neri_gabe_wp/in-class/index.php [L]
</IfModule>

# END WordPress
